@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root {
  --primary-white: #fff;
}

body {
font-family: 'Times New Roman', Times, serif !important;
}

/* Menu styling */
nav a.nav-link {
  font-size: 12px;
  letter-spacing: 20 px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}


.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}
/* Making the hover over text bar color */

.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-blue);
}


/* Header CSS styling */
.header-wrapper {
  position: relative;
  background: url(techbackgroun.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

/* Putting the items from the main info screen into a stack to do a type affect */
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Updating the header for the fun font affect */
.main-info h1 {
  font-size: 94px;
  font-family: 'Dancing Script', cursive;
}

/* This is the cluster type text under my name */
.typed-text {
  font-family: "Roboto Condesed" sans-serif;
  text-transform: uppercase;
  font-size: larger;
}

/* Header offer */
.btn-main-offer {
  border: 1px solid;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: black;
  margin: 20px ;
  background-color: lightgray;
  text-decoration: none;
}

/* About me section */
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 450px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid color darkblue;
}

@media(max-width: 468px) {
  .profile-img {
    width: 300px;
  }
}

/* Style the lists in the tech stack */
.techlist {
  font-size: 16px;
}

/* style the box for tech stack  */
.technologies {
  border-top: 2px solid darkblue;
  border-bottom: 2px solid darkblue;
  background-color: lightgrey;
}

.tech-box {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 72px;
}

.tech-list {
  font-size: 18px;
}

/* portfolio */
.portfolio-wrapper {
  background: var(--primary-light-grey);
  padding: 3rem 0;
}

.portfolio-wrapper h1 {
  color: var(--primary-orange);
}

.portfolio-image {
  width: 15rem;
  border: 1px solid var(--primary-orange);
  padding: 0 0.5rem;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}